.swi-block {
    display: inline-block;
    line-height: initial;
    font-size: var(--swi-font-size);
    font-weight: var(--swi-font-weight);
}

.swi-block.swi-boxed {
    background: var(--swi-boxed-bg);
    border-radius: 5px;
    margin: auto 4px auto 4px;
    padding: 2px 4px 2px 4px;
    position: relative;
}

.swi-block>span {
    cursor: help;
    margin: 2px;
}

.swi-block>span>a {
    cursor: help;
    text-decoration: none;
}

.swi-toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1b2838;
    color: #c7d5e0;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 9999;
    border-top: 1px solid #000;
    height: 30px;
    overflow-x: scroll;
}

.swi-toolbar-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.swi-toolbar button {
    background: #2a475e;
    border: none;
    color: #c7d5e0;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
    white-space: nowrap;
}

.swi-toolbar button:hover {
    background: #386589;
}

.swi-toolbar .icon-filter {
    cursor: pointer;
    opacity: 0.25;
    transition: opacity 0.2s;
    line-height: 1.5;
}

.swi-toolbar .icon-filter.filtered {
    opacity: 0.25;
}

.swi-toolbar .depth-slider {
    width: 100px;
}

.swi-hidden {
    display: none !important;
}

.swi-toolbar-divider {
    width: 1px;
    background: #2a475e;
    height: 100%;
    z-index: 1;
}

.swi-toolbar .filter-mode {
    background: #2a475e;
    border: none;
    color: #c7d5e0;
    padding: 4px 8px;
    border-radius: 2px;
    cursor: pointer;
}


.swi-toolbar .close-button {
    margin-left: auto;
}

.swi-toolbar.hide-mode .icon-filter {
    opacity: 1;
}

.swi-toolbar.hide-mode .icon-filter.filtered {
    opacity: 0.25;
}

.swi-toolbar.only-mode .icon-filter.filtered {
    opacity: 1;
}